.project_card{
    padding: 1rem;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 45%;
    margin: 0.8%;
}

.project_card h4 {
    background-color: #222;
    color: #fb3;
    padding: 0.4rem;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    overflow-wrap: break-word;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1rem;
}

.project_card p span{
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cccccc;
    margin-right: 0.5rem;
}

.category_text .infra{
    background-color: #ffaebc;
}
.category_text .desenvolvimento{
    background-color: #a0e7e5;
}
.category_text .design{
    background-color: #b4f8c8;
    
}

.category_text .planejamento{
    background-color: #fbe7c6;
}

.project_card_actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.project_card_actions a, .project_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid #222;
    transition: 0.4s;
    width: 60%;
}

.project_card_actions svg {
    margin-right: 0.3rem;
}

.project_card_actions a:hover,.project_card_actions button:hover{

    background-color: #222;
    color: #fb3;
}