.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.form_control select{
    padding: 0.7rem;
    border-radius: 0;
    border: none;
    background-color: #fff;
    color: #7b7b7b;
}

