.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.home_container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.home_container h1 span {
    color: #fb3;
    padding: 0 0.2rem;
    background-color: #222;
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    width: 35rem;
    margin: 2rem 0;
}