.project_details{
    padding: 2rem;
    width: 100%;
}

.project_details h1, .project_details h2, .project_details p {
    margin-bottom: 0.5rem;
    align-content: center;
}

.project_details h1 {
    background-color: #222;
    color: #fb3;
    padding: 0.4rem;
}

.project_details span {
    font-weight: bold;
}

.details_container, .service_form_container {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {

    background-color: #222;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 4rem;
    max-width: 6rem;
    border: none;
}

.btn:hover{
    color: #fb3;
}

.project_info {
    width: 100%;
}