.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1rem;
    width: 100%;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin: 0.5rem;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}
